# --- Archivos de compilación (BASURA) ---
bin/
obj/

# --- IDEs y Editores (CONFIGURACIONES PERSONALES) ---
# Visual Studio
.vs/
*.user
*.suo

# JetBrains Rider (Lo que te dio problemas antes)
.idea/
*.sln.iml

# VS Code
.vscode/

# --- Mac OS (Archivos basura del sistema) ---
.DS_Store

# --- Secretos y Entorno ---
appsettings.Development.json
.env
docker-compose.yaml
